# Requirements for local development & testing.
# To install, run: pip3 install -r requirements.txt
# See also: .travis.yml

coverage==4.4.1
flake8==3.3.0
pylint==1.7.1
Sphinx==1.6.1
virtualenv==15.1.0
