@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:400,700');



html, body, div.body {
    background: #fafafa;
}



dl.class,
dl.exception,
dl.function {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-top: 1.5em;
    padding: 1em 1em 0.25em;
}

dl.class,
dl.exception {
    border-width: 2px;
}

dl.class .property,
dl.exception .property {
    font-style: inherit;
    font-weight: bold;
}



code.descclassname,
code.descname,
.sig-paren {
    font-size: 1em;
}



pre {
    border-radius: 4px;
}



div.admonition {
    border-radius: 4px;
}

div.admonition p.admonition-title {
    font-size: 1em;
    font-style: italic;
}
